.incomplete {
    /* background-color: lightgray; */
    font-size: 1.3rem;
    margin: 5%;
    border-radius: 5px;
    text-decoration: none; 
}

.complete {
    /* background-color: lightgray; */
    font-size: 1.3rem;
    margin: 5%;
    border-radius: 5px;
    text-decoration: line-through;
}
